<!-- FOOTER -->
<div class="container">
  <hr class="featurette-divider">
  <footer>
    <p class="pull-right"><a href="#">返回顶部</a></p>
    <p>&copy; 2017 Shanghai Aikido SyuFu Kan &middot; <%= link_to "沪ICP备16000879号", "http://www.miitbeian.gov.cn/" %> &middot; <%= link_to "Privacy", privacy_path %> &middot; <a href="#">FTGHUB提供技术支持</a></p>
  </footer>
</div>