<div class="row">
	<div class="col-xs-4 home-left">
		<%= image_tag("logo.png", height: '80', class: 'logo') %>
		<h1 class="lead">和心会 · 和心会 · 上海合気道秋风馆</h1>
		<h4 class="lead-2">Washinkai Washinkai Shanghai Aikido SyuFu Kan</h4>
		<h5>
			秋为荣景，借敝馆相师广友，绵薄之力， 愿<span class='strengthen'>合气</span>盛荣。<br>
			秋为有成，吾欲<span class='strengthen'>细心耕耘</span>，不求速达， 但有小成。<br>
			<span class='strengthen'>秋风</span>习习，不及夏雨贯耳 ，冬雪凄厉，浑然天成 ，扫天下落叶。<br>
			<span class='strengthen'>合气之道</span>， 如是也。
		</h5>
	</div>
  <div class="col-xs-8 home-right">
  	<div class='bg'>
	    <%= render 'layouts/navbar' %>
			<div class="small">
				<small>&copy; 2017 Washinkai Washinkai Shanghai Aikido SyuFu Kan &middot; <%= link_to "沪ICP备16000879号", "http://www.miitbeian.gov.cn/" %> &middot; <%= link_to "Privacy", privacy_path %></small>
			</div>
  	</div><!-- /.bg -->
  </div>
</div>



