<table class="table table-bordered table-hover course">
<thead>
  <tr>
    <th>#</th>
    <th>一教</th>
    <th>二教</th>
    <th>三教</th>
    <th>四教</th>
    <th>五教</th>
    <th>四方投</th>
    <th>入身投</th>
    <th>小手返</th>
    <th>回转投</th>
    <th>呼吸法</th>
    <th>呼吸投</th>
    <th>天地投</th>
    <th>十字投</th>
    <th>腰投</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>正面打</td>
    <td>五级</td>
    <td>四级</td>
    <td>四级</td>
    <td>三级</td>
    <td>二级</td>
    <td>三级</td>
    <td>五级</td>
    <td>三级</td>
    <td></td>
    <td>四级</td>
    <td>三级</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>逆半身片手取</td>
    <td>五级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>五级</td>
    <td>四级</td>
    <td>四级</td>
    <td>三级</td>
    <td>五级</td>
    <td>四级</td>
    <td></td>
    <td></td>
    <td>二级</td>
  </tr>
  <tr>
    <td>相半身片手取</td>
    <td>四级</td>
    <td>四级</td>
    <td></td>
    <td></td>
    <td></td>
    <td>五级</td>
    <td>四级</td>
    <td>四级</td>
    <td>三级</td>
    <td>四级</td>
    <td>四级</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>两手取</td>
    <td>二级</td>
    <td>二级</td>
    <td>二级</td>
    <td>二级</td>
    <td></td>
    <td>三级</td>
    <td>三级</td>
    <td>二级</td>
    <td></td>
    <td>二级</td>
    <td>二级</td>
    <td>三级</td>
    <td>二级</td>
    <td></td>
  </tr>
  <tr>
    <td>诸手取</td>
    <td>三级</td>
    <td>三级</td>
    <td>三级</td>
    <td>三级</td>
    <td></td>
    <td>二级</td>
    <td>二级</td>
    <td>三级</td>
    <td>二级</td>
    <td>三级</td>
    <td>三级</td>
    <td></td>
    <td>二级</td>
    <td></td>
  </tr>
  <tr>
    <td>横面打</td>
    <td>三级</td>
    <td>三级</td>
    <td>三级</td>
    <td>三级</td>
    <td>一级</td>
    <td>四级</td>
    <td>四级</td>
    <td>三级</td>
    <td></td>
    <td>三级</td>
    <td>二级</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>肩取面打</td>
    <td>一级</td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>后两手取</td>
    <td>二级</td>
    <td>二级</td>
    <td>一级</td>
    <td>一级</td>
    <td></td>
    <td>二级</td>
    <td>二级</td>
    <td>二级</td>
    <td>一级</td>
    <td>二级</td>
    <td></td>
    <td>二级</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>后两肩取</td>
    <td></td>
    <td></td>
    <td>一级</td>
    <td>一级</td>
    <td></td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>后两肘取</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>肩取</td>
    <td>四级</td>
    <td>四级</td>
    <td>二级</td>
    <td>二级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>胸取</td>
    <td>三级</td>
    <td>三级</td>
    <td></td>
    <td></td>
    <td></td>
    <td>三级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>突击</td>
    <td>三级</td>
    <td>三级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>三级</td>
    <td>三级</td>
    <td>三级</td>
    <td>二级</td>
    <td>二级</td>
    <td>一级</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>半身半立片手取</td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>二级</td>
    <td>一级</td>
    <td>一级</td>
    <td>一级</td>
    <td></td>
    <td>三级</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>半身半立两手取</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>半身半立正面打</td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>一级</td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>坐技突</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>一级</td>
    <td>一级</td>
    <td></td>
    <td>二级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>坐技正面打</td>
    <td>四级</td>
    <td>三级</td>
    <td>三级</td>
    <td>三级</td>
    <td></td>
    <td></td>
    <td>三级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>坐技横面打</td>
    <td>一级</td>
    <td>一级</td>
    <td>一级</td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td>一级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>坐技肩取</td>
    <td>二级</td>
    <td>二级</td>
    <td>二级</td>
    <td>二级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>短刀取</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>二级</td>
    <td></td>
    <td>二级</td>
    <td>二级</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>
<p>*以上为每个学员在不同级别所需要掌握的技法</p>